@font-face {
    font-family: Golos;
    src: url(fonts/GolosText_Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Golos;
    src: url(fonts/GolosText_Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Golos;
    src: url(fonts/GolosText_DemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Golos;
    src: url(fonts/GolosText_Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Golos;
    src: url(fonts/GolosText_Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #F2F2F2;
    margin: 0;
    padding: 50px 0 0 50px;
    border: 0;
    font-family: 'Golos';
    vertical-align: baseline;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 16px;
}

div {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: Golos;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 75px;
    margin-top: 0;
    margin-bottom: 30px;
}

h2 {
    font-weight: 600;
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-weight: 400;
    font-size: 22px;
    line-height: 28px;
}

p {
    font-family: Golos;
    font-style: normal;
    font-weight: normal;
}

.pointer {
    cursor: pointer;
}

.none {
    display: none;
}

.banner p {
    font-size: 30px;
    line-height: 40px;
}

.medium {
    font-weight: 500;
}

.banner {
    width: 1200px;
    height: 600px;
    background-color: #141414;
    color: white;
    display: flex;
    justify-content: space-between;
    zoom: 0.5;
}

canvas {
    zoom: 0.5;
    visibility: hidden;
}

.contorls {
    margin-right: 100px;
}

.head,
.title,
.description,
.tag_fill {
    margin-left: 30px;
}

.description {
    display: none;
}

.head {
    display: flex;
}

.text {
    width: 570px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.circle {
    width: 600px;
    height: 600px;
    border-radius: 600px;
    background-color: white;
    cursor: grab;
}

.circle:active {
    cursor: grabbing;
}

.head,
.tags,
.logo,
.tag_vacancy,
.tag_fulltime,
.tag_remote,
.tag_office
 {
    height: 60px;
    background-size: contain;
    line-height: 58px;
}

.logo {
    background-image: url(images/logo.png);
    margin-right: 30px;
    width: 60px;
}

.tag_fill {
    font-size: 30px;
    line-height: 36px;
    display: flex;
}

.tag_fill div {
    color: #141414;
    background-color: white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    margin-right: 0;
}

.tag_stroke {
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 0;
    margin-right: 0;
    font-size: 30px;
}

.button {
    margin-top: 15px;
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 2px;
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 48px;
    padding-bottom: 24px;
    transition: 0.25s;
}

.button:hover {
    cursor: pointer;
    transition: 0.25s;
}

.button:active,
.button:focus {
    outline: none;
}

.major {
    background-color: #0066FF;
    color: white;
    border: 0;
    width: 100%;
}

.major:hover {
    background-color: #005CE5;
}

.minor {
    background-color: rgba(255, 255, 255, 1);
    color: black;
    border: 1px solid rgba(0,0,0,0.2);
}

.minor:hover {
    background-color: rgba(0,0,0,0.05);
}

.inputRadio {
    margin-bottom: 5px;
}

.range {
    margin-bottom: 30px;
}

input[type=text] {
    width: 100%;
    padding: 15px 10px;
    margin-top: 10px;
    margin-bottom: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 2px;
    font-size: 16px;
}

input[type="radio"] {
    cursor: pointer;
    margin-bottom: 20px;
}

input[type="file"] {
    display: none;
}

input[type="range"] {
    width: 100%;
}

input[type="button"] {
    margin: 0;
}

.fileUpload {
    display: inline-block;
}