.banner
{
	background-color: #141414;
	color: white;
	display: flex;
	height: 600px;
	justify-content: space-between;
	width: 1200px;
	zoom: 0.5;
}
.banner p
{
	font-size: 30px;
	line-height: 40px;
}
.button
{
	border-radius: 2px;
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 15px;
	margin-top: 15px;
	padding-bottom: 24px;
	padding-left: 48px;
	padding-right: 48px;
	padding-top: 24px;
	transition: 0.25s;
}
.button:active,
.button:focus
{
	outline: none;
}
.button:hover
{
	cursor: pointer;
	transition: 0.25s;
}
.circle
{
	background-color: white;
	border-radius: 600px;
	cursor: grab;
	height: 600px;
	width: 600px;
}
.circle:active
{
	cursor: grabbing;
}
.content
{
	align-items: flex-start;
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 100%;
}
.contorls
{
	margin-right: 100px;
}
.description
{
	display: none;
}
.fileUpload
{
	display: inline-block;
}
.head
{
	display: flex;
}
.head,
.tags,
.logo,
.tag_vacancy,
.tag_fulltime,
.tag_remote,
.tag_office
{
	background-size: contain;
	height: 60px;
	line-height: 58px;
}
.head,
.title,
.description,
.tag_fill
{
	margin-left: 30px;
}
.logo
{
	background-image: url(images/logo.svg);
	margin-right: 30px;
	width: 60px;
}
.major
{
	background-color: #0066FF;
	border: 0;
	color: white;
	width: 100%;
}
.major:hover
{
	background-color: #005CE5;
}
.medium
{
	font-weight: 500;
}
.minor
{
	background-color: rgba(255, 255, 255, 1);
	border: 1px solid rgba(0,0,0,0.2);
	color: black;
}
.minor:hover
{
	background-color: rgba(0,0,0,0.05);
}
.none
{
	display: none;
}
.pointer
{
	cursor: pointer;
}
.range
{
	margin-bottom: 30px;
}
.tag_fill
{
	display: flex;
	font-size: 30px;
	line-height: 36px;
}
.tag_fill div
{
	background-color: white;
	border-radius: 30px;
	color: #141414;
	margin-left: 0;
	margin-right: 0;
	padding-left: 30px;
	padding-right: 30px;
}
.tag_stroke
{
	border: 2px solid white;
	border-radius: 30px;
	color: white;
	font-size: 30px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 30px;
	padding-right: 30px;
}
.text
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding-bottom: 30px;
	padding-top: 30px;
	width: 570px;
}
@font-face
{
	font-family: Golos;
	font-style: normal;
	font-weight: 700;
	src: url(fonts/GolosText_Bold.ttf);
}
@font-face
{
	font-family: Golos;
	font-style: normal;
	font-weight: 600;
	src: url(fonts/GolosText_DemiBold.ttf);
}
@font-face
{
	font-family: Golos;
	font-style: normal;
	font-weight: 500;
	src: url(fonts/GolosText_Medium.ttf);
}
@font-face
{
	font-family: Golos;
	font-style: normal;
	font-weight: 400;
	src: url(fonts/GolosText_Regular.ttf);
}
@font-face
{
	font-family: Golos;
	font-style: normal;
	font-weight: 900;
	src: url(fonts/GolosText_Black.ttf);
}
body
{
	background-color: #F2F2F2;
	border: 0;
	font-family: 'Golos';
	font-size: 16px;
	margin: 0;
	vertical-align: baseline;
}
canvas
{
	display: none;
	zoom: 0.5;
}
div
{
	margin: 0;
	padding: 0;
}
h1
{
	font-family: Golos;
	font-size: 72px;
	font-style: normal;
	font-weight: bold;
	line-height: 75px;
	margin-bottom: 30px;
	margin-top: 0;
}
h2
{
	font-size: 28px;
	font-weight: 600;
	line-height: 32px;
}
h3
{
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
}
input[type="button"]
{
	margin: 0;
}
input[type="file"]
{
	display: none;
}
input[type="radio"]
{
	cursor: pointer;
	margin-bottom: 20px;
}
input[type="range"]
{
	width: 100%;
}
input[type=text]
{
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 2px;
	box-sizing: border-box;
	font-size: 16px;
	margin-bottom: 25px;
	margin-top: 10px;
	padding: 15px 10px;
	width: 100%;
}
p
{
	font-family: Golos;
	font-style: normal;
	font-weight: normal;
}